// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2025 Spacemit, Inc */

/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
	};

	chosen {
		bootargs = "earlycon=sbi console=ttyS0,115200 clk_ignore_unused nohlt loglevel=8 initcall_debug=1 memblock=debug";
		stdout-path = "serial0:115200";
	};

	memory@102000000 {
		device_type = "memory";
		reg = <0x1 0x02000000 0x0 0x7e000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <24000000>;

		cpu_0: cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu-cacheline = "64Bytes";
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_1: cpu@1 {
			device_type = "cpu";
			reg = <1>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu-cacheline = "64Bytes";
			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_2: cpu@2 {
			device_type = "cpu";
			reg = <2>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu2_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_3: cpu@3 {
			device_type = "cpu";
			reg = <3>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu3_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_4: cpu@4 {
			device_type = "cpu";
			reg = <4>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu4_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_5: cpu@5 {
			device_type = "cpu";
			reg = <5>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu5_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_6: cpu@6 {
			device_type = "cpu";
			reg = <6>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu6_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_7: cpu@7 {
			device_type = "cpu";
			reg = <7>;
			status = "disabled";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks", "zvksc",
					"zvksed", "zvksh", "zvksg", "zvkt", "smaia", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv48";
			cpu7_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_0>;
				};

				core1 {
					cpu = <&cpu_1>;
				};

				core2 {
					cpu = <&cpu_2>;
				};

				core3 {
					cpu = <&cpu_3>;
				};
			};
			cluster1 {
				core0 {
					cpu = <&cpu_4>;
				};

				core1 {
					cpu = <&cpu_5>;
				};

				core2 {
					cpu = <&cpu_6>;
				};

				core3 {
					cpu = <&cpu_7>;
				};
			};
		};
	};

	dummy_clk: apb-pclk {
		compatible = "fixed-clock";
		#clock-cells = <0x0>;
		clock-output-names = "clk14mhz";
		clock-frequency = <14000000>;
	};

	soc: soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		dma-noncoherent;
		ranges;

		clint0: clint@e081c000 {
			compatible = "riscv,clint0";
			interrupts-extended = <
				&cpu0_intc  3 &cpu0_intc  7
				&cpu1_intc  3 &cpu1_intc  7
				&cpu2_intc  3 &cpu2_intc  7
				&cpu3_intc  3 &cpu3_intc  7
				&cpu4_intc  3 &cpu4_intc  7
				&cpu5_intc  3 &cpu5_intc  7
				&cpu6_intc  3 &cpu6_intc  7
				&cpu7_intc  3 &cpu7_intc  7
			>;
			reg = <0x0 0xe081c000 0x0 0x00010000>;
			clint,has-no-64bit-mmio;
		};

		maplic: interrupt-controller@f1800000 {
			compatible = "riscv,aplic";
			msi-parent = <&mimsic>;
			reg = <0x0 0xf1800000 0x0 0x4000>;
			interrupt-controller;
			#interrupt-cells = <2>;
			riscv,num-sources = <96>;
			riscv,children = <&saplic>;
			riscv,delegate = <&saplic 1 90>;
			status = "disabled";
		};

		saplic: interrupt-controller@e0804000 {
			compatible = "riscv,aplic";
			reg = <0x0 0xe0804000 0x0 0x4000>;
			msi-parent = <&simsic>;
			#interrupt-cells = <2>;
			interrupt-controller;
			riscv,num-sources = <159>;
		};

		mimsic: interrupt-controller@f1000000 {
			compatible = "riscv,imsics";
			interrupts-extended = <&cpu0_intc 11>;
			reg = <0x0 0xf1000000 0x0 0x2000>;
			interrupt-controller;
			#interrupt-cells = <0>;
			msi-controller;
			riscv,num-ids = <255>;
			status = "disabled";
		};

		simsic: interrupt-controller@f1400000 {
			compatible = "riscv,imsics";
			interrupts-extended = <&cpu0_intc 9>;
			reg = <0x0 0xf1400000 0x0 0x1000000>;
			interrupt-controller;
			#interrupt-cells = <0>;
			#msi-cells = <0>;
			msi-controller;
			riscv,num-ids = <255>;
			riscv,group-index-bits = <1>;
			riscv,group-index-shift = <55>;
			riscv,hart-index-bits = <4>;
			riscv,guest-index-bits = <6>;
		};

		pmx: pinmux@d401e000 {
			compatible = "pinconf-single";
			reg = <0x0 0xd401e000 0x0 0x400>;
			#address-cells = <2>;
			#size-cells = <2>;
			#pinctrl-cells = <1>;
			#gpio-range-cells = <3>;
			ranges;

			pinctrl-single,register-width = <32>;
			pinctrl-single,function-mask = <7>;

			range: gpio-range {
			#pinctrl-single,gpio-range-cells = <3>;
			};
		};

		uart0: serial@d4017000 {
			compatible = "spacemit,pxa-uart";
			reg = <0x0 0xd4017000 0x0 0x100>;
			interrupt-parent = <&saplic>;
			interrupts = <42 4>;
			clk-fpga = <14750000>;
			status = "ok";
		};
	};
};

