// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2025 Spacemit, Inc */

&soc {
	#address-cells = <2>;
	#size-cells = <2>;

	r_uart0: serial@c0881000 {
		compatible = "spacemit,k1-uart",
			     "intel,xscale-uart";
		reg = <0x0 0xc0881000 0x0 0x100>;
		clocks = <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART0>,
			 <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART0_BUS>;
		clock-names = "core", "bus";
		resets = <&syscon_rcpu_uartctrl RESET_RCPU_UARTCTRL_RUART0>;
		reg-shift = <2>;
		reg-io-width = <4>;
		fifo-size = <256>;
		interrupt-parent = <&saplic>;
		interrupts = <251 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	r_uart1: serial@c0881100 {
		compatible = "spacemit,k1-uart",
			     "intel,xscale-uart";
		reg = <0x0 0xc0881100 0x0 0x100>;
		clocks = <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART1>,
			 <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART1_BUS>;
		clock-names = "core", "bus";
		resets = <&syscon_rcpu_uartctrl RESET_RCPU_UARTCTRL_RUART1>;
		reg-shift = <2>;
		reg-io-width = <4>;
		fifo-size = <256>;
		interrupt-parent = <&saplic>;
		interrupts = <252 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	r_uart2: serial@c0881200 {
		compatible = "spacemit,k1-uart",
			     "intel,xscale-uart";
		reg = <0x0 0xc0881200 0x0 0x100>;
		clocks = <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART2>,
			 <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART2_BUS>;
		clock-names = "core", "bus";
		resets = <&syscon_rcpu_uartctrl RESET_RCPU_UARTCTRL_RUART2>;
		reg-shift = <2>;
		reg-io-width = <4>;
		fifo-size = <256>;
		interrupt-parent = <&saplic>;
		interrupts = <253 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	r_uart3: serial@c0881300 {
		compatible = "spacemit,k1-uart",
			     "intel,xscale-uart";
		reg = <0x0 0xc0881300 0x0 0x100>;
		clocks = <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART3>,
			 <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART3_BUS>;
		clock-names = "core", "bus";
		resets = <&syscon_rcpu_uartctrl RESET_RCPU_UARTCTRL_RUART3>;
		reg-shift = <2>;
		reg-io-width = <4>;
		fifo-size = <256>;
		interrupt-parent = <&saplic>;
		interrupts = <254 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	r_uart4: serial@c0881400 {
		compatible = "spacemit,k1-uart",
			     "intel,xscale-uart";
		reg = <0x0 0xc0881400 0x0 0x100>;
		clocks = <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART4>,
			 <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART4_BUS>;
		clock-names = "core", "bus";
		resets = <&syscon_rcpu_uartctrl RESET_RCPU_UARTCTRL_RUART4>;
		reg-shift = <2>;
		reg-io-width = <4>;
		fifo-size = <256>;
		interrupt-parent = <&saplic>;
		interrupts = <255 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	r_uart5: serial@c0881500 {
		compatible = "spacemit,k1-uart",
			     "intel,xscale-uart";
		reg = <0x0 0xc0881500 0x0 0x100>;
		clocks = <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART5>,
			 <&syscon_rcpu_uartctrl CLK_RCPU_UARTCTRL_RUART5_BUS>;
		clock-names = "core", "bus";
		resets = <&syscon_rcpu_uartctrl RESET_RCPU_UARTCTRL_RUART5>;
		reg-shift = <2>;
		reg-io-width = <4>;
		fifo-size = <256>;
		interrupt-parent = <&saplic>;
		interrupts = <256 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};
};
