// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2025 Spacemit, Inc */

#include "k3.dtsi"

/ {
	compatible = "spacemit,k3-fpga";
};

&uart0 {
		status = "okay";
};

&qspi {
	status = "disabled";
};
