# SPDX-License-Identifier: GPL-2.0-only

config SPACEMIT_HMP
	bool "Spacemit HMP support"
	depends on SMP && SOC_SPACEMIT
	help
	  Say y here to enable the HMP feature support.
	  This feature categorizes the CPU cores within the
	  SOC into two distinct types, each running different
	  types of threads.

config SPACEMIT_PM_DOMAINS
	bool "Spacemit generic power domain"
	depends on PM && MAILBOX
	select PM_GENERIC_DOMAINS
	help
	  Say y here to enable power domain support.
	  In order to meet high performance and low power requirements, a power
	  management unit is designed or saving power.

source "drivers/soc/spacemit/v2d/Kconfig"
