# SPDX-License-Identifier: GPL-2.0

config DRM_SPACEMIT
	tristate "DRM Support for Spacemit"
	depends on DRM
	select DRM_CLIENT_SELECTION
	select DRM_KMS_HELPER
	select DRM_GEM_CMA_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_DMA_HELPER
	select DRM_FBDEV_EMULATION
	select DRM_MIPI_DSI
	select DRM_PANEL
	select VIDEOMODE_HELPERS
	select BACKLIGHT_CLASS_DEVICE
	select GKI_FIX_WORKAROUND if DRM_SPACEMIT=m
	default n
	help
	  Choose this option if you have a SPACEMIT chipsets.
	  If M is selected the module will be called spacemit-drm.

config SPACEMIT_INNO_DP
	tristate "Spacemit specific extensions for inno dp/edp"
	depends on DRM_SPACEMIT
	select DRM_DISPLAY_HELPER
	select DRM_DISPLAY_DP_HELPER
	select DRM_DISPLAY_DP_AUX_BUS
	default n
	help
	  Support for Spacemit SoC specific extensions for
	  the Innosilicon dp/edp driver.

config SPACEMIT_MIPI_PANEL
	tristate "mipi panel support for SPACEMIT SOCs platform"
	depends on DRM_SPACEMIT

config DRM_RASPBERRYPI_TOUCHSCREEN
	tristate "Raspberrypi Touchscreen"
	default y
	depends on DRM_SPACEMIT
	select DRM_KMS_HELPER
	select REGMAP_I2C
	select DRM_PANEL
	select DRM_MIPI_DSI

	help
	  Support for Raspberrypi Touchscreen driver.

source "drivers/gpu/drm/spacemit/backlight/Kconfig"
