# SPDX-License-Identifier: GPL-2.0
#
# SPACEMIT Verification camera configuration
#

comment "SPACEMIT Camera Verification System"

menuconfig SPACEMIT_K3_VCAM
	tristate "SPACEMIT Camera Verification System support"
#	depends on VIDEO_V4L2
    depends on MEDIA_PLATFORM_DRIVERS
    default n
    help
	  Say Y here to enable selecting the video adapters for
	  SPACEMIT camera and video

config SPACEMIT_K3_VCAM_CCIC
    tristate "CCIC support"
    depends on SPACEMIT_K3_VCAM
    default n
    help
      enable support for ccic

config SPACEMIT_K3_VCAM_CCIC_DMA
    tristate "CCIC DMA support"
    depends on SPACEMIT_K3_VCAM
    default n
    help
      enable support for ccic dma

config SPACEMIT_K3_VCAM_SENSOR
    tristate "SENSOR support"
    depends on SPACEMIT_K3_VCAM
    default n
    help
      enable support for ccic
